## Module submission header
### Submission preparation instructions 
_Completion of this header is mandatory, subject to a 2-point deduction to the assignment._ Only add plain text in the designated areas, i.e., replacing the relevant 'NA's. You must fill out all group member Names and Drexel email addresses in the below markdown list, under header __Module submission group__. It is required to fill out descriptive notes pertaining to any tutoring support received in the completion of this submission under the __Additional submission comments__ section at the bottom of the header. If no tutoring support was received, leave NA in place. You may as well list other optional comments pertaining to the submission at bottom. _Any distruption of this header's formatting will make your group liable to the 2-point deduction._

### Module submission group
- Group member 1
    - Name: NA
    - Email: NA
- Group member 2
    - Name: NA
    - Email: NA
- Group member 3
    - Name: NA
    - Email: NA
- Group member 4
    - Name: NA
    - Email: NA

### Additional submission comments
- Tutoring support received: NA
- Other (other): NA

# Assignment Group 3
## Module B _(20 points)_

In this problem, you will be using the [Baseball Databank provided by Sean Lahman](http://seanlahman.com/baseball-archive/statistics/). This data is already in the `data/baseballdatabank2017.1/core/` directory. It contains a collection of tables. The immediate goal will be to create a dataframe that has the following information for each baseball player:

- Batting statistics (to be described)
- Fielding statistics (to be described)
- Pitching statistics (to be described)
- Their salaries
- The teams they played for
- Their full names: First Middle Last
- Their heights and weights

The dataset has a data dictionary available at:

- `../data/baseballdatabank-2017.1/core/readme2014.txt`

The data and tables you will need are:

- `Appearances.csv`
    - The year id
    - The player id
    - The team id
- `Batting.csv`
    - The number of games played and at bats
    - The number of runs, hits, doubles, triples, homeruns, RBIs, strikeouts, and times hit by pitch
- `Fielding.csv`
    - The number of games played
    - The number of opponents put out, assisted outs, and fielding errors
- `Master.csv`
    - Their full names
    - Their heights and weights
- `Pitching.csv`
    - The number of games played, won, lost
    - The number of strikeouts, hits, earned runs, homeruns, and batters hit by pitches   
- `Salaries.csv`
    - The players salary
- `Teams.csv`
    - The name of the player's team
    - The year the team was named its name

__B1.__ _(4 points)_ First, complete the function below, which should load the data, keeping only the columns of interest.

In [ ]:
# B1:Function(4/4)

import pandas as pd

def load_columns_of_interest(path_to_databank_core = 'data/baseballdatabank-2017.1/core/'):
    (appearances_file, batting_file, 
     fielding_file, master_file, pitching_file, 
     salaries_file, teams_file) = [path_to_databank_core + table_file
                                   for table_file in ["Appearances.csv", "Batting.csv", 
                                                      "Fielding.csv", "Master.csv", 
                                                      "Pitching.csv", "Salaries.csv", 
                                                      "Teams.csv"]]    
    ## load the  various tables' data,
    ## keeping only the necessary keys specified above
    #---your code starts here---
    
    #---your code stops here---
    
    return [appearances, batting, fielding, master, pitching, salaries, teams]

For reference, your output should be:
```
    playerID  yearID teamID  salary
0  barkele01    1985    ATL  870000
1  bedrost01    1985    ATL  550000
2  benedbr01    1985    ATL  545000
3   campri01    1985    ATL  633333
4  ceronri01    1985    ATL  625000
```

In [ ]:
# B1:SanityCheck

baseball_data = load_columns_of_interest('data/baseballdatabank-2017.1/core/')
print(baseball_data[-2].head())

__B2.__ _(5 points)_ Next, complete the function below, which takes a year as input and outputs subsets of each of the tables with data from only that year. [Hint. Use Boolean masks!]

In [ ]:
# B2:Function(5/5)

def FilterByYear(year, baseball_data):
    (appearances, batting, fielding, 
     master, pitching, salaries, teams) = baseball_data
    
    ## filter the relevant tables by year.
    ## complete the filtration task for the relevant tables
    
    #---your code starts here---
    
    #---your code stops here---
    
    return(appearances_filtered, batting_filtered, 
           fielding_filtered, master_filtered,
           pitching_filtered, salaries_filtered, teams_filtered)

For reference, your output should be:
```
       playerID  yearID teamID  salary
1288  ackerji01    1987    ATL  350000
1289  alexado01    1987    ATL  650000
1290  assenpa01    1987    ATL   80000
1291  barkele01    1987    ATL  890000
1292  benedbr01    1987    ATL  615000
```

In [ ]:
# B2:SanityCheck

print(FilterByYear(1987, baseball_data)[-2].head())

__B3.__ _(8 points)_ Next, complete the function below. It will again take a year as input, and then use the previous filtering function to get separate tables. 

Your job is to merge these tables using the appropriate joins. Determine which columns have the same names but different values, then determine a useful naming scheme of suffixes that indicates the table the column was originally drawn from. Use this scheme in combination with the `suffixes` argument of the `merge()` function to avoid column name conflicts. Also remove duplicate columns from the merged table.

In [ ]:
# B3:Function(8/8)

def MergeTables(year, baseball_data):
    
    (appearances_filtered, batting_filtered, 
     fielding_filtered, master_filtered,
     pitching_filtered, salaries_filtered, teams_filtered) = FilterByYear(year, baseball_data)
    
    ## start the merged dataframe off with the appearances data
    merged = pd.DataFrame(appearances_filtered)
    
    ## first, merge on the batting  data
    #---your code starts here---
    
    #---your code stops here---
    
    
    ## merge on the fielding data
    #---your code starts here---
    
    #---your code stops here---
    
    
    ## merge on the player data
    #---your code starts here---
    
    #---your code stops here---
    
    ## merge on the pitching data
    #---your code starts here---
    
    #---your code stops here---
    
    ## merge on the salaries data
    #---your code starts here---
    
    #---your code stops here---
    
    ## merge on the teams data
    #---your code starts here---
    
    #---your code stops here---
    
    ## Drop the (now) extra yearID keys
    ## add more keys to drop to the list here
    #---your code starts here---
    
    #---your code stops here---
    
    return(merged)

For referene, your output should be:
```
   yearID   playerID teamID    G   AB    R    H  2B  3B  HR  ...   G_p    W  \
0    2008  aardsda01    BOS   47    1    0    0   0   0   0  ...  47.0  4.0   
1    2008  abercre01    HOU   34   55   10   17   5   0   2  ...   NaN  NaN   
2    2008  abreubo01    NYA  156  609  100  180  39   4  20  ...   NaN  NaN   
3    2008  accarje01    TOR   16    0    0    0   0   0   0  ...  16.0  0.0   
4    2008  aceveal01    NYA    6    0    0    0   0   0   0  ...   6.0  1.0   

     L  SO_p   H_p    ER  HR_p HBP_p      salary               name  
0  2.0  49.0  49.0  30.0   4.0   5.0    403250.0     Boston Red Sox  
1  NaN   NaN   NaN   NaN   NaN   NaN         NaN     Houston Astros  
2  NaN   NaN   NaN   NaN   NaN   NaN  16000000.0   New York Yankees  
3  3.0   5.0  15.0   9.0   1.0   1.0    392200.0  Toronto Blue Jays  
4  0.0  16.0  25.0   8.0   4.0   0.0         NaN   New York Yankees
```

In [ ]:
# B3:SanityCheck

merged = MergeTables(2008, baseball_data)
print(merged.head())

__B4.__ _(3 points)_ Now that the data are merged, we should note: there may be nulls. Determine how to deal with the NAs and apply this strategy. Complete the inline cell below to fill the NAs with zeros, or some other more, potentially more-reasonable values.

In [ ]:
# B4:Inline(2/3)

#--- your code starts here---

#--- your code stops here---

# filter all entries with non-zero salary
merged["salary"].isna().sum()

For reference, what should the output from the previous cell be?

In [ ]:
# B4:Inline(1/3)

# What should the output from the previous cell be?
# print any non-negative integer, e.g., 7
print("<any non-negative integer, e.g., 7>")